* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(90deg, #cca37f, #ffeedf);
}

.presc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.presc_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    max-width: auto;
    margin: 100px 0;
}

.presc_titulo {
    font-weight: 6000;
    color: #896034;
    font-size: 2em;
    margin-bottom: 5px;
}

hr {
    border: none;
    width: 30%;
    height: 5px;
    background-color: #fae3c1;
    border-radius: 10px;
    margin-bottom: 20px;
}

.presc_inputs {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    transition: 0.3s;
}

textarea.presc_inputs {
    padding: 15px;
    border-radius: 20px;
    height: 140px;
}

.presc_inputs:focus, textarea.presc_inputs:focus {
    border: 2px solid #ff994f;
}

.presc_inputs::placeholder, textarea.presc_inputs::placeholder {
    color: #a9a9a9;
}

button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 1em;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #feb271, #A06F44);
    cursor: pointer;
}

button img {
    height: 15px;
}

.presc_top_img {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: 600;
    color: #896034;
    font-size: 1em;
}

td, th {
    font-weight: 600;
    color: #896034;
    font-size: 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
}

table th {
    font-weight: 600;
    color: #896034;
}



table tbody tr:hover {
    background-color: #ddd;
}

.residue-test {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.checkbox-options {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.checkbox-options input[type="checkbox"] {
    display: none;
}

.checkbox-options label {
    padding: 8px 15px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.checkbox-options input[type="checkbox"]:checked + label {
    background-color: #ffcb7e;
    color: #fff;
}

/* Media Queries */
@media (min-width: 768px) {
    .presc-container {
        padding: 40px;
    }

    .presc_form {
        width: 60%;
    }

    .presc_titulo {
        font-size: 2.5em;
    }
}

@media (min-width: 1024px) {
    .presc-container {
        padding: 60px;
    }

    .presc_form {
        width: 50%;
    }

    .presc_titulo {
        font-size: 3em;
    }
}
